*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth; }
  @media (max-width: 85.375em) {
    html {
      font-size: 60%; } }
  @media (max-width: 75em) {
    html {
      font-size: 45%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777; }

.header-primary {
  margin-top: 1rem;
  font-size: 7.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 1.5rem 5rem; }
  @media (max-width: 56.25em) {
    .header-primary {
      padding: 1.5rem 3rem;
      letter-spacing: .5rem;
      font-size: 6rem; } }
  .header-primary::after {
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff; }

.header-secondary {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  text-align: center; }
  @media (max-width: 37.5em) {
    .header-secondary {
      margin-bottom: 2rem; } }

.header-tertiary {
  display: table;
  padding-bottom: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  border-bottom: solid 2px #777;
  margin-bottom: 2.5rem; }

.header-sub-heading {
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 5rem;
  display: block;
  color: #fff; }
  @media (max-width: 56.25em) {
    .header-sub-heading {
      letter-spacing: .5rem;
      font-size: 4rem; } }

.paragraph {
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify; }

@media (max-width: 37.5em) {
  .w-33-phone {
    width: calc(33% - 4rem) !important; } }

@media (max-width: 56.25em) {
  .w-50-tab-port {
    width: calc(50% - 3rem) !important; } }

.w-100 {
  width: 100%; }
  @media (max-width: 37.5em) {
    .w-100-phone {
      width: 100% !important; } }

.mt-small {
  margin-top: 2.5rem; }

.mt-medium {
  margin-top: 5rem; }

.mb-small {
  margin-bottom: 2.5rem !important; }

.mb-smaller {
  margin-bottom: 1rem; }

.mb-medium {
  margin-bottom: 5rem; }

.mb-none {
  margin-bottom: 0 !important; }

.text-center {
  text-align: center; }

.menu {
  line-height: 5rem;
  text-align: center;
  padding: 1rem 0; }
  .menu ul li {
    display: inline-block; }
    .menu ul li.active::after, .menu ul li:hover::after {
      width: 100%; }
    .menu ul li.active a::after {
      width: 100%; }
    .menu ul li a {
      display: inline-block;
      text-decoration: none;
      color: #777;
      font-size: 2rem;
      padding: 0 2rem;
      position: relative; }
      .menu ul li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        transition: all .2s;
        width: 0;
        background-color: #777; }
      .menu ul li a:focus::after, .menu ul li a:hover::after {
        width: 100%; }
      .menu ul li a:focus {
        outline: none; }
  .menu-main {
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1; }
    @media (max-width: 37.5em) {
      .menu-main {
        background: none; } }
    .menu-main ul li a {
      text-transform: uppercase;
      color: #fff; }
      .menu-main ul li a::after {
        background-color: #fff; }

.btn {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  transition: all .2s;
  letter-spacing: .25rem; }
  .btn-primary {
    color: #fff;
    border: solid 1px #fff; }
    .btn-primary:hover {
      background-color: #fff;
      color: #777; }
  .btn-secondary {
    color: #00A8FF;
    border: solid 1px #00A8FF; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #00A8FF; }
  .btn:hover {
    transform: translateY(-6px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.img-medium {
  width: 64rem;
  height: 48rem; }

.img-about {
  width: 100%;
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: center; }
  @media (max-width: 85.375em) {
    .img-about {
      height: 36rem; } }
  @media (max-width: 56.25em) {
    .img-about {
      margin-top: 2rem; } }
  @media (max-width: 37.5em) {
    .img-about {
      height: 30rem; } }

.img-room {
  width: 100%;
  height: 36rem;
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: center; }
  @media (max-width: 56.25em) {
    .img-room {
      margin-bottom: 2rem;
      height: 30rem; } }

.navigation__checkbox {
  display: none; }

@media (max-width: 37.5em) {
  .navigation__button {
    background-color: #fff;
    height: 6.5rem;
    width: 6.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    background-image: radial-gradient(#777, #777);
    z-index: 1000;
    transition: transform .2s; }
  .navigation__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all .2s; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none; }
  .navigation__item {
    display: block !important; }
  .navigation__link {
    font-size: 3rem; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #777;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); } }

.header {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; }

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5rem;
  text-align: center; }

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  font-size: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-2 {
    width: calc((100% - 6rem)/2); }
    @media (max-width: 37.5em) {
      .row .col-1-2 {
        width: 100%; } }
    @media (max-width: 56.25em) {
      .row .col-1-2 {
        width: 100%; } }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem)/3); }
    @media (max-width: 37.5em) {
      .row .col-1-3 {
        width: 100%; } }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem)/4); }

.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 7rem; }
  @media (max-width: 37.5em) {
    .section {
      padding-top: 2rem; } }

.about-us-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-45%); }
  @media (max-width: 56.25em) {
    .about-us-content {
      padding: 0 3rem; } }
  @media (max-width: 37.5em) {
    .about-us-content {
      transform: translateY(-50%); } }

.rates-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(calc(-50% + 5rem)); }
  @media (max-width: 56.25em) {
    .rates-content {
      padding: 0 3rem; } }

.swimming-entrance-box,
.table-rate-box {
  text-align: center; }

.swimming-entrance__img,
.table-rate__img {
  height: 15rem; }
  @media (max-width: 85.375em) {
    .swimming-entrance__img,
    .table-rate__img {
      height: 10rem; } }

.swimming-entrance__price,
.table-rate__price {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .25rem; }
  @media (max-width: 85.375em) {
    .swimming-entrance__price,
    .table-rate__price {
      font-size: 3rem; } }

.swimming-entrance__currency,
.table-rate__currency {
  font-size: 3rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal; }
  @media (max-width: 85.375em) {
    .swimming-entrance__currency,
    .table-rate__currency {
      font-size: 2.25rem; } }

.swimming-entrance__category,
.table-rate__category {
  display: block;
  font-size: 2rem;
  font-weight: bold; }
  @media (max-width: 85.375em) {
    .swimming-entrance__category,
    .table-rate__category {
      font-size: 1.75rem; } }

.table-rate__description {
  font-size: 2rem;
  font-style: italic; }
  @media (max-width: 85.375em) {
    .table-rate__description {
      font-size: 1.75rem; } }

.pools-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  @media (max-width: 37.5em) {
    .pools-content {
      margin-top: 5rem; } }
  .pools-content-wrapper {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); }
    .pools-content-wrapper::after {
      content: "";
      display: table;
      clear: both; }
    @media (max-width: 37.5em) {
      .pools-content-wrapper {
        background: none; }
        .pools-content-wrapper:hover .pool-image:not(:hover) {
          opacity: .5; } }
  .pools-content .pool-image {
    float: left;
    width: calc((100%/3));
    height: 48rem;
    background-size: cover;
    background-position: center;
    transition: all .2s; }
    @media (max-width: 85.375em) {
      .pools-content .pool-image {
        height: 35rem; } }
    @media (max-width: 37.5em) {
      .pools-content .pool-image {
        margin: 0 2.5rem;
        display: block;
        width: calc(100% - (2.5rem)*2);
        height: 28rem; }
        .pools-content .pool-image:last-child {
          margin-bottom: 0; } }
    .pools-content .pool-image:hover {
      transform: scale(1.15);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
      @media (max-width: 37.5em) {
        .pools-content .pool-image:hover {
          transform: scale(1); } }
    .pools-content .pool-image:first-child:hover {
      transform: translateX(10rem) scale(1.15); }
      @media (max-width: 85.375em) {
        .pools-content .pool-image:first-child:hover {
          transform: translateX(5rem) scale(1.15); } }
      @media (max-width: 37.5em) {
        .pools-content .pool-image:first-child:hover {
          transform: scale(1); } }
    .pools-content .pool-image:last-child:hover {
      transform: translateX(-10rem) scale(1.15); }
      @media (max-width: 85.375em) {
        .pools-content .pool-image:last-child:hover {
          transform: translateX(-5rem) scale(1.15); } }
      @media (max-width: 37.5em) {
        .pools-content .pool-image:last-child:hover {
          transform: scale(1); } }
    .pools-content .pool-image-1 {
      background-image: url(../img/pool-1.jpg); }
    .pools-content .pool-image-2 {
      background-image: url(../img/pool-2.jpg); }
    .pools-content .pool-image-3 {
      background-image: url(../img/pool-3.jpg); }

.rooms-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  @media (max-width: 56.25em) {
    .rooms-content {
      padding: 0 3rem; } }

.room-rate-row::after {
  content: "";
  display: table;
  clear: both; }

.room-rate {
  border: solid 2px #777;
  float: left;
  padding: 1rem 0rem;
  margin-right: 1rem;
  width: calc(50% - .5rem);
  text-align: center; }
  .room-rate-wrapper {
    display: inline-block; }
  .room-rate:last-child {
    margin-right: 0; }
  .room-rate--primary {
    color: #00A8FF;
    border-color: #00A8FF; }
  .room-rate__amount {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    text-align: left; }
  .room-rate__description1 {
    display: block;
    font-size: 1.5rem;
    text-align: left; }
  .room-rate__description2 {
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    text-align: left; }
  .room-rate__inclusions ul li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: .75rem; }
    .room-rate__inclusions ul li:last-child {
      margin-bottom: 0; }
  .room-rate__limits ul li {
    font-size: 1.25rem;
    font-style: italic;
    margin-left: 1.75rem;
    margin-bottom: .15rem; }
    .room-rate__limits ul li:last-child {
      margin-bottom: 0; }

.section-contact-us {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/map.png);
  background-position: top;
  background-size: cover; }
