@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerVertical {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

@mixin unsetCenter {
    position: unset;
    transform: unset;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }
    @if $breakpoint == desktop {
        @media (max-width: 85.375em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }
}