$color-primary-light: #46c5e8;
$color-primary-dark: #1a4ba5;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-light-1: #f7f7f7;

$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizantal: 6rem;

$default-section-padding-top: 10rem;
$default-header-secondary-margin-bottom: 5rem;