.img {
    &-medium {
        width: 64rem;
        height: 48rem;
    }
}

.img-about {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: top;
}

.img-room {
    width: 100%;
    height: 36rem;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: top;
}