*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;

    @include respond(desktop) {
        font-size: 60%;
    }

    @include respond(tab-land) {
        font-size: 45%;
    }

    @include respond(tab-port) {
        font-size: 45%;
    }

    @include respond(phone) {
        font-size: 45%;
        overflow: scroll;
    }

    @include respond(big-desktop) {

    }
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;    
    color: #777;
}