.w-33 {
    &-phone {
        @include respond(phone) {
            width: calc(33% - 4rem) !important;
        }
    }
}

.w-50{
    &-tab-port {
        @include respond(tab-port) {
            width: calc(50% - 3rem) !important;
        }
    }
}

.w-100 {
    width: 100%;

    &-phone {
        @include respond(phone) {
            width: 100% !important;
        }
    }
}

.mt {
    &-small {
        margin-top: 2.5rem;
    }    
    &-medium {
        margin-top: 5rem;
    }    
}

.mb {
    &-small {
        margin-bottom: 2.5rem !important;
    }
    &-smaller {
        margin-bottom: 1rem;
    }
    &-medium {
        margin-bottom: 5rem;
    } 
    &-none {
        margin-bottom: 0 !important;
    }
}

.text-center {
    text-align: center;
}